body{
    display: flex;
    justify-content: center;
    background-color: #3AA6B9;
    background-image: url("https://transparenttextures.com/patterns/60-lines.png");
}
.calculator{
    width: 250px;
    margin-top: 150px;

}
.display{
    padding:2px 5px;
    
    background-color:#FFD0D0;
    font-size: 30px;
    overflow:hidden;
    border-radius: 5px;
    margin-bottom: 5px;
   
}
.calcbtn{
    padding: 10px 32px;
    border-radius: 5px;
    border: none;
    margin: 2px;
    font-size: 25px;
    background-color: #FF9EAA;
    color: white;
    box-shadow:2px 2px 3px black;
}
.calcbtn:active{
    background-color: #C1ECE4;
    box-shadow:none;
    color:black;
}
